html{
  font: 16px/1.2 sans-serif;
}

article {
  margin-top: 5em; /*Pushing down top for the search bar*/
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

h1 {
  background: black;
  font-size: 25px;
  font-weight: bold;
}

dt {
  font-size: 20px;
  font-weight: bold;
}

dd {
  margin-bottom: 1em;
}

nav a {
  font-size: 20px;
  display: block;
  padding:10px 0;
}

input[type=search] {
  position: fixed;
  top: 0;
  padding: 1rem;
  padding-left: 0;
  margin: 0;
  margin-left: -6px;
  width: 100%;
  font-size: 40px;
  background: #fff;
  border: none;
  border-bottom: 1px solid #eee;
} input[type=search]:focus {
  outline: 0;
}